!URxvt settings
!
! Set font
*.font: xft:terminus:size=10:style=Bold

! Disable scrollbar
URxvt.scrollBar: false

! Set saved lines
URxvt.saveLines:20000

! Transparency
URxvt.inheritPixmap: true
URxvt.transparent: true
URxvt.shading: 16

! Copy-Paste
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.iso14755: false
URxvt.iso14755_52: false

! special
*.foreground:   #f8f8f8
*.background:   #101115
*.cursorColor:  #f8f8f8

! black
*.color0:       #192029
*.color8:       #38252c

! red
*.color1:       #f65955
*.color9:       #ff0000

! green
*.color2:       #97d01a
*.color10:      #76b639

! yellow
*.color3:       #ffa800
*.color11:      #e1a126

! blue
*.color4:	#162afb
*.color12:      #289cd5

! magenta
*.color5:       #ff2491
*.color13:      #ff2491

! cyan
*.color6:       #0fdcb6
*.color14:      #0a9b81

! white
*.color7:       #ebebeb
*.color15:      #f8f8f8


! Cursor settings
!
! Size
Xcursor.size: 16
